* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  list-style: none;
}

.accountCreation {
  margin: 0;
  background-color: #f1ebe7;
  height: auto;
  padding: 5% 0 0;
}

#accountCreationBannerSection {
  margin: auto;
  padding: 50px;
  padding-top: 80px;
  max-width: 1000px;
  display: flex;
  background-color: #f1ebe7;
  justify-content: space-between;
}

#accountCreationBannerSection input {
  width: 350px;
  margin: 2% 0 5%;
  padding: 19px 20px;
  border: 1px solid #fff;
}

#accountCreationBannerSection #checkbox {
  margin: 5px;
  width: 4%;
}

.register {
  margin-left: 150px;
}

#accountCreationBannerSection button {
  background-color: rgb(33, 42, 47);
  color: #f1ebe7;
  width: 100%;
  padding: 23px 0;
  margin: 1% 0 5%;
  cursor: pointer;
  border: none;
}
#accountCreationBannerSection #register_button{
  width: 88%;
}

#accountCreationBannerSection button:hover {
  background-color: #f1ebe7;
  color: rgb(33, 42, 47);
  border: 2px solid rgb(33, 42, 47);
}

#accountCreationBannerSection a {
  color: #000000;
  font-size: 13px;
}

.registerInput p a {
  font-size: 11px;
}

.registerInput p {
  font-size: 11px;
}

.loginInput p {
  text-align: center;
}

.registerInput a {
  text-align: center;
}

.firstSection {
  display: flex;
  width: 97%;
  margin: auto;
  padding-top: 100px;
}

.bestSeller {
  width: 60%;
  margin-right: 40px;
}

.treeRunners {
  width: 40%;
}

.products {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.productsAside {
  margin-right: 25px;
}

.productsAside img {
  display: block;
  cursor: pointer;
  height: 70px;
  background-color: #f5f5f5;
  margin-top: 13px;
}

.productsAside img:first-of-type {
  margin-top: 0px;
  border: 2px solid black;
}

.productsMain {
  background-color: #f5f5f5;
}

.productsMain p {
  position: relative;
  font-size: 12px;
  color: #212a2f;
  background-color: #fafafa;
  padding: 8px;
  margin-top: 40px;
  margin-left: 40px;
  width: 16%;
  font-style: italic;
  font-weight: 900;
}

.productsMain img {
  width: 80%;
  cursor: grab;
}

.productsMain .fa-chevron-left {
  background-color: #fff;
  padding: 10px;
  border-radius: 60%;
  cursor: pointer;
  margin-right: 6px;
  font-size: 20px;
  box-shadow: 0px 0px 3px 3px #ebebeb;
}

.productsMain .fa-chevron-right {
  background-color: #fff;
  padding: 10px;
  border-radius: 60%;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 0px 0px 3px 3px #ebebeb;
}

.productsMain .fa:hover {
  border: 1px solid gray;
  box-shadow: none;
}

.productsMain .search {
  background-color: #fff;
  padding: 10px;
  border-radius: 60%;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 0px 0px 3px 3px #ebebeb;
  right: 50px;
  margin-left: -490px;
  margin-right: 450px;
  visibility: hidden;
}

.productsMain:hover .search{
  visibility: visible;
}

.runnerHighlights {
  margin-top: 20px;
  text-align: center;
  line-height: 3;
  background-color: #f5f5f5;
}

.runnerHighlights > p,
.runnerHighlights > h3 {
  border-bottom: 1px solid #d3d4d5;
}

.runnerHighlights > h3 {
  font-weight: 600;
  color: #212a2f;
}

.runnerHighlights p:last-of-type {
  border: none;
}

.highlightsDropdown {
  padding-top: 50px;
}

.show {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  cursor: pointer;
}

.highlightsDropdown h4 {
  font-weight: 900;
  font-size: 13px;
}

.highlightsDropdown > div {
  border-bottom: 1px solid #d3d4d5;
}

.dropdown1 {
  border-top: 1px solid #d3d4d5;
}

.dropdownContent1 {
  line-height: 2.5;
  padding-bottom: 35px;
  display: none;
}

.dropdownContent1 p {
  font-weight: 800;
}

.dropdownContent1 p:first-of-type {
  font-weight: normal;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1.5;
}

.dropdownContent2 {
  display: none;
}

.dropdownContent3 {
  display: none;
}

.dropdownContent4 {
  display: none;
}

.dropdownContent2 p:nth-last-child(2) {
  font-weight: 800;
  padding-top: 20px;
  padding-bottom: 8px;
  line-height: 1.5;
}

.dropdownContent2 li {
  list-style-type: disc;
  line-height: 1.5;
  font-size: 15px;
}

.dropdownContent2 ul {
  padding-bottom: 50px;
  padding-left: 23px;
}

.dropdownContent2 li:hover,
.dropdownContent3 li:hover {
  text-decoration: none !important;
}

.dropdownContent1 span {
  font-weight: normal;
}

.dropdownContent3 li {
  list-style-type: decimal;
}

.dropdownContent3 li {
  line-height: 3;
  font-size: 15px;
}

.dropdownContent3 ul {
  padding-bottom: 30px;
  padding-left: 23px;
}

.dropdownContent3 p {
  font-size: 16px;
  padding-bottom: 30px;
}

.dropdownContent4 p {
  line-height: 2;
  font-size: 15px;
}

.womenRunner ul {
  display: flex;
  padding-left: 0;
}

.womenRunner li {
  list-style-type: none;
  padding: 2px;
  font-size: 13px;
  font-weight: 600;
}

.womenRunner h2 {
  font-size: 30px;
  font-weight: 900;
  padding-top: 5px;
  padding-left: 5px;
}

.womenRunner p {
  padding-top: 20px;
  padding-left: 11px;
  font-size: 18px;
  font-weight: normal;
}

.womenRunner p span {
  font-size: 12px;
  color: #212a2f;
  background-color: #f5f5f5;
  padding: 8px;
  width: 13%;
  font-style: italic;
  font-weight: 900;
  margin-left: 5px;
  text-transform: uppercase;
}

.reviewRating {
  padding-top: 25px;
  padding-left: 5px;
}

.reviewRating ul {
  list-style-type: none;
  padding-left: 4px;
}

.reviewRating i {
  padding-left: 2px;
}

.reviewRating li:hover {
  text-decoration: none !important;
  cursor: pointer;
}

.reviewRating a {
  font-size: 15px;
  padding-left: 2px;
}

.classics {
  padding-top: 20px;
  padding-left: 5px;
}

.classics p {
  font-size: 16px;
  font-weight: 600;
  padding-left: 5px;
  text-transform: uppercase;
}

.classics p span {
  font-size: 14px;
  font-weight: normal;
  padding-left: 5px;
}

.circleColors {
  padding-top: 10px;
}

.circleColors span {
  height: 40px;
  width: 40px;
  border: 1px solid;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
  text-wrap: wrap;
}

.cc span:nth-child(1) {
  background: linear-gradient(-45deg, #fff 51%, #e4e5e6, #e4e5e6 49%);
  border: 1px solid #e4e5e6;
}

.cc span:nth-child(2) {
  background: linear-gradient(-45deg, #fff 51%, #888688, #888688 49%);
  border: 1px solid #7e7e7e;
}

.cc span:nth-child(3) {
  background: linear-gradient(-45deg, #fff 51%, #2c333e, #2c333e 49%);
  border: 1px solid #9a9999;
}

.cc span:nth-child(4) {
  background: linear-gradient(-45deg, #fff 51%, #414c60, #414c60 49%);
  border: 1px solid #9a9999;
}

.cc span:nth-child(5) {
  background: linear-gradient(-45deg, #fff 51%, #231f20, #231f20 49%);
  border: 1px solid #9a9999;
}

.cc span:nth-child(6) {
  background: linear-gradient(-45deg, #5c5d60 51%, #231f20, #231f20 49%);
  border: 1px solid #9a9999;
}

.cc span:nth-child(7) {
  background: linear-gradient(-45deg, #242729 51%, #e0e2dc, #e0e2dc 49%);
  border: 1px solid #9a9999;
}

.cc2 span:nth-child(1) {
  background: linear-gradient(-45deg, #e7e4d3 51%, #b4a897, #b4a897 49%);
  border: none;
}

.cc2 span:nth-child(2) {
  background: #b4b6ba;
  border: none;
}

.cc2 span:nth-child(3) {
  background: linear-gradient(-45deg, #e0e2dc 51%, #707360, #707360 49%);
  border: none;
}

.cc2 span:nth-child(4) {
  background: linear-gradient(-90deg, #dae7ec 30%, #1c386c 49%, #e0e2dc 70%);
  border: none;
}

.cc2 span:nth-child(5) {
  background: linear-gradient(-45deg, #cbeaf7 51%, #e0e2dc 49%);
  border: none;
}

.cc2 span:nth-child(6) {
  background: linear-gradient(-90deg, #e7e4d3 30%, #232d3b 49%, #e0e2dc 70%);
  border: none;
}

.cc2 span:nth-child(7) {
  background: linear-gradient(-45deg, #786355 49%, #e5dcc2 51%);
  border: none;
}

.cc2 span:nth-child(8) {
  background: linear-gradient(-45deg, #d5cbb8 49%, #978466 51%);
  border: none;
}

.cc2 span:nth-child(9) {
  background: linear-gradient(-45deg, #6d7e8f 49%, #2c333e 51%);
  border: none;
}

.cc2 span:nth-child(10) {
  background: linear-gradient(-45deg, #e0e2dc 51%, #404a60 49%);
  border: none;
}

.cc3 span:nth-child(1) {
  background: linear-gradient(-45deg, #e0e2dc 51%, #c5a090 49%);
  border: none;
}

.cc3 span:nth-child(2) {
  background: linear-gradient(-45deg, #e0e2dc 51%, #637054 49%);
  border: none;
}

.limitedEdition {
  padding-top: 20px;
  padding-left: 5px;
}

.limitedEdition p {
  font-size: 16px;
  font-weight: 600;
  padding-left: 5px;
  text-transform: uppercase;
}

.sale {
  padding-top: 20px;
  padding-left: 5px;
}

.sale p {
  font-size: 16px;
  font-weight: 600;
  padding-left: 5px;
  text-transform: uppercase;
}

.sizes p:nth-child(1) {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 15px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.sizes ul {
  display: flex;
  padding-left: 6px;
}

.sizes li {
  list-style-type: none;
  padding: 23px 27px;
  border: 1px solid black;
  margin-left: 5px;
  font-size: 13px;
}

.sizes li:hover {
  text-decoration: none !important;
  cursor: pointer;
  background-color: #cacfd1;
}

.sizes p:nth-child(3) {
  font-size: 13px;
  padding: 15px 10px;
  line-height: 1.5;
  color: rgb(74, 74, 74);
}

.sizes a:nth-child(1) {
  text-decoration: underline;
  font-weight: 600;
}

.sizes button {
  background-color: #d3d4d5;
  width: 96%;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  border: none;
  color: #ffffff;
  font-weight: 700;
  margin-left: 10px;
  margin-bottom: 10px;
}

.sizes p:last-of-type {
  text-align: center;
  line-height: 1.5;
  font-size: 13px;
  font-weight: normal;
  color: rgb(74, 74, 74);
}

.find h4 {
  font-weight: 900;
  font-size: 13px;
  padding-bottom: 15px;
}

.visible {
  visibility: visible;
}

.storeDropdown {
  display: none;
}

.storeDropdown p {
  font-weight: normal;
  font-size: 15px;
  padding-bottom: 30px;
}

.find_dropdown {
  margin-top: 10px;
  padding: 20px 0px;
  padding-bottom: 0;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  cursor: pointer;
}

.find {
  display: flex;
  justify-content: space-between;
}

.moreOptions h3 {
  font-size: 20px;
  font-weight: 700;
  padding-top: 30px;
  padding-bottom: 20px;
}

.moreWomenOptions {
  display: flex;
  /* width: 50%; */
}

.moreWomenOptions1 {
  box-shadow: 5px 5px 5px 5px #f1ebe7;
  margin: 3px;
}

.moreWomenOptions2 {
  box-shadow: 5px 5px 5px 5px #f1ebe7;
  margin: 3px;
}

.moreWomenOptions img {
  width: 99%;
  margin-left: 1px;
  background-color: #f5f5f5;
  padding: 0;
  cursor: pointer;
  transition: transform 0.5s ease;
  /* transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease; */
}

.moreWomenOptions img:hover {
  transform: scale(1.03);
}

.moreWomenOptions2 img {
  margin-left: 4.5px;
  width: 98%;
}

.moreWomenOptions p {
  background-color: #ffffff;
  padding: 20px 15px;
  font-weight: 700;
  margin-left: 5px;
}

.allBirdsApproroachsection {
  background-color: #fff;
  margin: auto;
  padding: 20px;
}

.allBirdsApproroachsection2 {
  background-color: #f5f5f5;
  margin: auto;
  padding: 40px;
  padding-bottom: 60px;
  height: auto;
}

.birdsApproachtexts {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.birdsApproachtexts > div {
  max-width: 40%;
}

.allBirdsApproroachsection h2 {
  font-size: 30px;
  color: #212a2f;
  padding-bottom: 30px;
  font-weight: 600;
}

.allBirdsApproroachsection2 h2 {
  font-size: 30px;
  color: #212a2f;
  padding-bottom: 30px;
  font-weight: 600;
}

.allBirdsApproroachsection2 h4 {
  color: #212a2f;
  font-weight: 800;
}

.birdsApproachtexts h4 {
  font-size: 23px;
  color: #212a2f;
  padding-bottom: 9px;
  padding-left: 8px;
}

.registerInput h5 {
  display: flex;
  justify-content: center;
  padding-top: 5px;
}

.birdsApproachtexts p {
  font-size: 15px;
  color: #212a2f;
  line-height: 1.6;
  padding: 8px;
  text-wrap: wrap;
}

.birdsApproachtexts a {
  font-size: 13px;
  color: #212a2f;
  padding: 8px;
}

.breezySneaker img {
  margin: 5% 2%;
  width: 96%;
  padding-bottom: 50px;
}

.flexItems {
  display: flex;
  /* justify-content: space-between; */
  margin: auto;
  max-width: 95%;
  color: #212a2f;
  padding-left: 50px;
  padding-right: 30px;
}

.texts {
  padding-top: 90px;
  margin-left: 0px;
  padding-left: 10px;
}

.texts h1 {
  font-size: 28px;
  margin: 0 0 16px;
  font-weight: bolder;
  text-transform: capitalize;
}

.texts h3 {
  font-size: 19px;
  margin: 0 0 16px;
  font-weight: 800;
}

.texts p {
  font-size: 17px;
  margin: 0 0 24px;
}

.flexItems img {
  width: 45em;
  height: 75vh;
}

.flexItems2 {
  padding-left: 2px;
  margin-left: 30px;
  padding-top: 120px;
}

.flexItems3 {
  padding-top: 150px;
  padding-right: 0px;
  margin-right: 20px;
}

.flexItems3 img {
  width: 50em;
}

.flexItems3 .texts {
  padding-right: 20px;
}

.flexed h2 {
  text-transform: capitalize;
  font-weight: bolder;
  padding-top: 150px;
  padding-bottom: 20px;
  padding-left: 2px;
}

.flexedImages {
  display: flex;
  gap: 15px;
  padding-bottom: 30px;
  overflow: auto /* scroll*/;
}

.flexedImages::-webkit-scrollbar {
  display: none;
}

.flexedImages img {
  height: 56vh;
  cursor: grab;
}

.flexedImages img:last-of-type {
  padding-right: 50px;
}

.scrollBar {
  background-color: blue;
  border-radius: 50%;
  padding: 5px;
}

.flexedImages .fa {
  font-size: 30px;
  position: relative;
  background-color: #0176d3;
  top: 150px;
  padding: 5px;
  border-radius: 50%;
  color: red;
}

.scrollBar img {
  width: 10px;
  height: 15px;
  position: absolute;
  right: 1px;
  top: 2920px;
  z-index: 1;
}

.reviews {
  height: auto;
  width: 100%;
  background-color: #f5f5f5;
  padding: 25px 90px;
  text-align: center;
}

.reviews h2 {
  margin: 0 0 18px;
  padding-top: 60px;
}

.reviews p:nth-child(3) {
  padding-bottom: 45px;
  font-size: 15px;
}

.reviews img {
  padding-bottom: 15px;
}

.rating {
  display: flex;
  justify-content: center;
  padding-bottom: 0px;
}

.rating p {
  font-size: 48px;
  font-weight: bolder;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}

.rating > i {
  padding-left: 10px;
  padding-top: 20px;
}

.rating > .fas {
  color: #212a2f;
  font-size: 23px;
}

.rating > .far {
  color: #212a2f;
  font-size: 23px;
}

.sorting {
  padding: 100px;
  padding-top: 50px;
  padding-bottom: 30px;
  padding-right: 235px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.sorting .far {
  color: #000000;
}

.sorting label {
  /* color: #212a2f; */
  font-size: 13px;
  font-weight: bold;
}

option ul {
  display: flex;
}

option .far {
  color: red;
}

.sorting > select {
  background-color: #f5f5f5;
  border: none;
  border-bottom: 1px solid #212a2f;
}

#search {
  width: 450px;
  padding: 13px 10px;
  background-color: #f5f5f5;
  color: #4d5559;
  border: none;
  border-bottom: 2px solid #212a2f;
  font-size: 18px;
  margin-right: 10px;
}

select {
  padding: 12px 5px;
  background-color: #f5f5f5;
  border: none;
  border-bottom: 2px solid #212a2f;
  margin-right: 10px;
  width: 210px;
  margin-bottom: 30px;
}

#sort_by {
  width: 300px;
}

.overallFit {
  margin-left: 0px;
}

.moreReviews {
  max-width: 85%;
  margin: auto;
  justify-content: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.moreReviews h2 {
  font-weight: 600;
  padding-bottom: 30px;
}

.moreReviews {
  padding-top: 30px;
}

.reviewstexts {
  border-top: 1px solid #d3d4d5;
  display: flex;
  justify-content: space-between;
  padding: 50px 5px;
}

.rightreviews {
  max-width: 600px;
}

.starRatings {
  padding-bottom: 20px;
}

.rightreviews h3 {
  font-weight: 800;
}

.rightreviews p {
  font-size: 17px;
  padding-bottom: 20px;
}

.rightreviews p:first-of-type {
  padding-top: 10px;
}

.rightreviews p:last-of-type {
  font-size: 15px;
}

.leftReviews {
  background-color: #f5f5f5;
  padding: 40px;
  max-width: 300px;
}

.leftReviews h3 {
  font-size: 18px;
  font-weight: 600;
  border-bottom: 1px solid #d3d4d5;
  padding-bottom: 13px;
  margin-bottom: 13px;
}

.leftReviews span {
  font-size: 15px;
  font-weight: 400;
  padding-left: 5px;
}

.leftReviews h3 span {
  font-style: italic;
  font-size: 13px;
  padding-left: 5px;
}

.leftReviews p {
  font-weight: 600;
  line-height: 1.5;
  font-size: 15px;
}

.reviewsOrder {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.reviewsOrder li {
  list-style-type: none;
  padding: 15px;
  color: #b7babb;
  cursor: pointer;
}

.reviewsOrder li:nth-child(1) {
  padding: none !important;
  color: #212a2f;
  cursor: default;
}

.reviewsOrder li:nth-child(5) {
  padding: none !important;
}

.reviewsOrder li:nth-child(6) {
  padding: none !important;
  color: #212a2f;
}

.reviewsOrder li:hover {
  text-decoration: none !important;
}

.flex {
  display: flex;
}
nav{
  justify-content: space-between;
  padding: 8px 3%;
  position: fixed;
  background-color: white;
  width: 100%;
  font-size: .85em;
  z-index: 5;
  box-shadow: 2px -4px 11px 0px #8080809c;
}
nav .ul1{
  width: 25%;
  justify-content: space-between;
}

nav .ul2{
  width: 35%;
  justify-content: space-between;
}
nav li{
  line-height: 3;
  font-weight: 600;
}
nav a, .white a{
  text-decoration: none;
}

.logo{
  width: 10%;
  margin-top: -15px;
}
.logo img{
  width: 100%;
  padding: -5px;
}
.ul2 img{
  width: 25%;
  padding: 1% 5%;
}
.nav-icons{
  width: 30%;
  cursor: pointer;
}
.red{
  color: red;
}

.buttonsDiv{
  z-index: 1;
  text-align: right;
}

.buttonsDiv >button{
  gap: 10px;
}

#logOut{
  background-color: red;
  border: none;
}

#logOut:hover{
   background-color: white;
   border:2px solid #4d5559;
}

footer{
    padding: 5% 5% 2%;
    color: #fff;
    font-size: .9em;
    background-color: #212a2f;
}
footer button{ 
    /* width: 10%; */
    background-color: rgb(77, 85, 89);
    padding: 1% 2%;
    border: none;
    color: #fff;
    margin-bottom: 5%;
    margin-top: 1%;
    border-radius: 2px;

}
footer input{
    border-bottom: 2px solid white !important;
    border: none;
    padding: 1% 2%;
    width: 25%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 5%;
    background-color: rgb(77, 85, 89);
    border-radius: 2px;
}
footer ul{
    margin-right: 15%;
    margin-bottom: 5%;
}
footer .li{
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 1em;
    letter-spacing: 2px;
}
footer li{
    margin-bottom: 15px;
}

.footer-onediv{
    width: 25%;
}
.footer-onediv p{
    margin: 5% 0;
}

.footer-logo img{
    width: 6%;
    height: 18px;
    margin-right: 5%;
    margin-top: 2%;
}
.footer-divtwo{
    text-align: center;
    margin: 5% auto
}
.footer-divtwo p{
    margin-bottom: 2%;
}
footer .corp{
    width: 22%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.footer-countries img{
    width: 15%;
    height: 25px;
    margin: 0 2%;
}
footer a{
    color: #fff;
}

.dropdown-menu {
  display: none;
  width: 100%;
  height: 65vh;
  padding: 10% 8% 0;
  font-size: 0.9em;
  z-index: 3;
  position: absolute;
  background-color: #fff;
}

.drop-ul {
  width: 70%;
  justify-content: space-between;
}

.dropdown-menu ul {
  margin-right: 8%;
  margin-bottom: 5%;
}
.dropdown-menu .li {
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 1em;
  letter-spacing: 2px;
}
.dropdown-menu li {
  margin-bottom: 15px;
}

.dropdown-menu .picture-div {
  width: 32%;
}
.dropdown-menu .picture-div img {
  width: 100%;
  margin-bottom: 5%;
  height: 16vh;
}
.dark-background {
  transition: 0.2s;
  background-color: rgba(0, 0, 0, 0.5);
}

.accountCreation h1{
  text-align: center;
  font-size: 25px;
  padding-top: 35px;
}


.error{
    border: 1px solid red !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



